<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryUserRepository" id="inmemoryUserRepository"/>

    <bean class="ru.javawebinar.topjava.service.UserService" id="userService">
        <constructor-arg name="repository" ref="inmemoryUserRepository"/>
    </bean>

    <bean class="ru.javawebinar.topjava.web.user.AdminRestController" id="adminRestController">
        <constructor-arg name="service" ref="userService"/>
    </bean>

    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryMealRepository" id="inmemoryMealRepository"/>

    <bean class="ru.javawebinar.topjava.service.MealService" id="mealService">
        <constructor-arg name="repository" ref="inmemoryMealRepository"/>
    </bean>

    <bean class="ru.javawebinar.topjava.web.meal.MealRestController" id="mealRestController">
        <constructor-arg name="service" ref="mealService"/>
    </bean>

</beans>